//colors

$background-color: #D1D1D1;
$nav-color: #1D1D1D;
$link-color: #4086AA;
$black_70: rgba(0, 0, 0, 0.7);
$white_80: rgba(255,255,255,0.8);
$white: #fff; 
$light_grey: #ccc;
$lighter_grey: #f2f2f2;
$grey_230: #e6e6e6;
$bison_brown: #bfbd9f;

//urls
$url_overlay: url(../img/overlay-pattern.png);
$url_contact: url(../img/contact.jpg);

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body{
    //background: $background-color;
    margin: 0;
    padding: 0;
}

h1{
    margin-top: 5%;
    letter-spacing: 3px;
}

/*nav{
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1%;
	z-index: 100;
	color: white;
	text-align: right;
    
    ul{
        list-style: none;
    }
    
    li{
        display: inline;
    }
    
    a{
        color: $background-color;
    }
    
    a:hover{
        color: $link-color;
    }
}*/

.noBackground{
    display: none;
    background-color: none;
}

.blackBackground {
	background: $white;
    opacity: 0.95;
    box-shadow: 1px 1px 6px #5A5A5A;
}

h2.subtitle {
    font-size: 1.6875rem;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}
h3.subtitle {
    text-align: center;
    margin-bottom: 70px;
    font-weight: 300;
    font-size: 1.125rem;
        position:relative;
}

.white {
    color: $white;
}
footer{
    text-align: center;
}

#header{
    width: 100%;

    /*background: url("img/img_header.gif") no-repeat;
    background-position: center;*/
    text-align: center;
    margin-bottom: 5%;
}

#logo{
    @include vertical-align;
    margin: 0 auto;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter:         drop-shadow(5px 5px 5px #222);
    width: 40%;
}

.headline{
    text-align: center;
}

.heading{
    @include vertical-align;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    text-shadow: 5px 5px 5px #222;
    font-size: 5em;
}

.content{
    margin: 5% 2% 5% 2%;
    //background: #BDE3F0;
}

// Grid Style ohne Ränder und Hintergrund
.callout{
    border: none;
    margin: 0;
}

.callout.primary{
    background-color: #fff;
}

// verhindert, dass die Position durch die Animation verfälscht wird (funktioniert allerdings noch nicht richtig)
.animated{
    -webkit-animation-fill-mode: none !important;
    animation-fill-mode: none !important;
}

/* ==============================================
    Parallax
=============================================== */

.parallax-window {
    height: 300px;
    background: transparent;
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}


/* ==============================================
    Preloader
=============================================== */

.mask {
    background-color: $white;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100000;
}
#loader {
    background: url(../img/loader.gif) center center no-repeat;
    height: 31px;
    width: 31px;
    left: 50%;
    top: 50%;
    position: absolute;
    z-index: 100001;
    margin: -15px 0 0 -15px;
}



/* ==============================================
    Team
=============================================== */

.team {
    text-align: center;
    h3 span {
        font-size: 1rem;
        font-weight: 400;
        display: block;
    }
}
.team-item {
    position: relative;
    margin: 0 auto 25px auto;
    cursor: pointer;
    img {
        border-radius: 4px;
    }
    i {
        margin-top: 100%;
        display: block;
        opacity: 0;
        transition: all 0.3s ease 0.1s;
    }
    &:hover .team-hover {
        background: $white_80;
        filter: alpha(opacity=80);
        i {
            opacity: 1;
            margin-top: 40%;
            transition: opacity .3s .2s, margin-top .3s .2s;
        }
    }
}
.team-hover {
    background-color: $nav-color;
    transition: background .4s ease;
    background: rgba(255,255,255,0);
    overflow: hidden;
    filter: alpha(opacity=0);
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 4px;
    a {
        &:link {
            font-weight: bold;
        }
        &:visited {
            font-weight: bold;
        }
    }
}
ul.social-team {
    list-style: none;
    margin-bottom: 0;
    li {
        display: inline;
        a {
            &:link {
                display: inline-block;
                margin: 0 5px;
            }
            &:hover {
                color: $nav-color !important;
            }
        }
    }
    a:visited {
        display: inline-block;
        margin: 0 5px;
    }
}

.container {
    position:relative;
    overflow:hidden;
    width:100%;
    height:100%;
}
.container .textbox {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin-left:-100%;
}
.container:hover .textbox {
    margin-left:0;
}
.container .firstIMG {
    margin-left:0;
}
.container:hover .firstIMG {
    margin-left:100%;
}

.container .firstIMG, .textbox {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}



/* ==============================================
    Video Section
=============================================== */
#video-section {
    position: relative;
    overflow: hidden;
    background: $nav-color;
}
#video-box {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.player {
    position: relative;
    z-index: 9999;
}


/* ==============================================
    Projects Section
=============================================== */

#filters {
	margin:1%;
	padding:0;
	list-style:none;
    text-align: center;
}

	#filters li {
		//float:left;
        display: inline-block;
	}
	
	#filters li span {
		display: block;
		padding:5px 20px;		
		text-decoration:none;
		color:#666;
		cursor: pointer;
	}
	
	#filters li span.active {
		background: $link-color;
		color:#fff;
	}
 

 
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	//width:23%;
    width: 100%;
	margin:1%;
	display:none;
	float:left;
	overflow:hidden;
}

	.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		background: #666;
		cursor:pointer;
	}

	.portfolio img {
		max-width:100%;
		position: relative;
	}
	
	.portfolio .label {
		position: absolute;
		width: 100%;
		height:40px;
		bottom:-40px;
	}

		.portfolio .label-bg {
			background: #e95a44;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
	
		.portfolio .label-text {
			color:#fff;
			position: relative;
			z-index:500;
			padding:5px 8px;
		}
			
			.portfolio .text-category {
				display:block;
				font-size:9px;
			}


/* ==============================================
    Services Section
=============================================== */

.process:hover .process-hover{
    background:$link-color;
}
.process {
    text-align: center;
    background: $lighter_grey;
    cursor: pointer;
    padding-bottom: 110px;
    position: relative;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 4px;
    //overflow: ;
    i {
        margin-top: 30px;
        color: $light_grey;
    }
    h3 {
        font-size: 1.6rem;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all 0.3s ease 0.1s;
        position: absolute;
        width: 100%;
        text-align: center;
        span {
            font-size: 2rem;
            display: block;
            color: $link-color;
        }
    }
    &:hover {
        background: $link-color;
        h3 {
            color: $white;
            margin-top: -110px;
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: opacity .3s .2s, margin-top .4s .2s;
        }
        .process-hover {
            visibility: visible;
        }
        p {
            margin-top: -135px;
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: opacity .3s .2s, margin-top .6s .2s;
            opacity: 1;
        }
    }
    p {
        color: $white;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all 0.3s ease 0.1s;
        position: absolute;
        top: 100%;
        width: 100%;
        padding: 0 20px;
        text-align: center;
        opacity: 0;
    }
}
.process-hover {
    background: $link-color; 
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: background .4s ease;
    background: rgba(255,255,255,0);
    overflow: hidden;
    filter: alpha(opacity=0);
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 4px;
    webkit-border-radius: 4px;
    o-border-radius: 4px;
    visibility: hidden;
}

/* ==============================================
    Contacts Section
=============================================== */

.parallax {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 80px 0;
    margin: 0;
    text-align: center;
    h2 {
        color: $white;
    }
    h3 {
        color: $white;
    }
}
.parallax-overlay {
    background: $black_70;
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 120px 0;
}
.responsive-parallax {
    background: $url_overlay repeat top left ,$url_contact repeat-y fixed 50% center rgba(0, 0, 0, 0);
    padding: 0;
}
#contact {
    margin-bottom: 120px;
}
.comment-form {
    margin-bottom: 20px;
    padding-bottom: 50px;
    overflow: hidden;
}
label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}
input[type=text] {
    width: 300px;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
    margin-bottom: 20px;
    border: 1px solid $grey_230;
    font-weight: 300;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
    &.required {
        border: 1px solid $grey_230;
    }
}
textarea {
    width: 100%;
    height: 200px;
    padding: 20px;
    border: 1px solid $grey_230;
    margin-bottom: 20px;
    overflow: auto;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
    &.required {
        border: 1px solid $grey_230;
    }
}
#msg {
    float: left;
    margin-left: 10px;
}
.submit-button {
    float: right;
    color: $white !important;
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px;
    border: 0;
    cursor: pointer;
    outline: 0;
    margin: 0 0 16px 0;
    border-bottom: 0 !important;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 2px;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: none;
    &:hover {
        background: $light_grey;
    }
}
#form-sent {
    display: none;
}
#details-error {
    display: none;
}
.button-map {
    color: $white;
    cursor: pointer;
    display: block;
    padding: 10px 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 300ms linear 0s;
    width: 220px;
    margin: 0 auto;
    //Instead of the line below you could use @include border-top-left-radius($radius)
    border-top-left-radius: 2px;
    //Instead of the line below you could use @include border-top-right-radius($radius)
    border-top-right-radius: 2px;
    z-index: 200;
    &:hover {
        color: $white;
        background: $light_grey;
    }
}
section#contacts {
    background: none;
    color: $white;
    padding-bottom: 0;
    .parallax {
        padding-bottom: 0;
    }
}
.close-map:after {
    content: "\f107";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-left: 16px;
    font-size: 18px;
}
.show-map:after {
    content: "\f106";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-left: 16px;
    font-size: 18px;
}
ul.contact-detail {
    margin-left: 0;
    li {
        list-style-type: none;
        border-bottom: 1px dotted $bison_brown;
        padding: 8px 0;
        strong {
            color: $white;
            margin-right: 5px;
        }
        &:last-child {
            border-bottom: none;
        }
        i {
            margin-right: 5px;
        }
        a:link {
        }
    }
    a {
        &:visited {
        }
        &:hover {
            color: $light_grey;
        }
    }
}